body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main-nav{
  background: transparent;
  margin-left: auto;
  font-size: 16px;
  color: #ffd;
}
.main-nav .ant-menu-item a{
  color: #fff;
}
.main-nav .ant-menu-item{
  margin: 0 15px;
}